.center{
    display: flex;
    justify-content: center;
    font-size: xx-large;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: molengo;
  }
  
  body {
    font-family: cursive;
  }
  
  /* a {
    text-decoration: none;
  } */
  
  li {
    list-style: none;
  }

  .navbar {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-image: url('pictures/Navbar.png');
    /* color: #0a3fcf; */
    background-repeat: no-repeat;
    width: 1440px;
    height: 63px;
    background-size:cover;
    /* height: 50px; */
    left: 10px;
    top: 10px;
  }

  @media (max-width: 768px) {
    .navbar {
      height: 60px; /* Adjust height for smaller screens */
      padding: 10px; /* Adjust padding for smaller screens */
      background-size: contain; /* Change background size for smaller screens */
    }
  }
  
  .nav-links a {
    color: #fff;
  }
  
  /* LOGO */
  .sylvia {
    position: relative;
    /* font-size: 32px; */
    top: 5px;
    height: 60px;
    width: 120px;


  }
  
  /* NAVBAR MENU */
  .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
  }
  
  .menu li:hover {
    background-color: #4c9e9e;
    border-radius: 5px;
    transition: 0.3s ease;
  }
  
  .menu li {
    padding: 5px 14px;
  }
  
  /* DROPDOWN MENU */
  .services {
    position: relative; 
  }
  

 .bg-img{
    background-image: url(pictures/bg-animation@2x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
 }

.form{
    /* position:f; */
    position: relative;
    top: 100px;
    width: 800px;
    height: 580px;
    /* background: rgba(230, 205, 205, 0.7); */
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    /* backdrop-filter: blur(1px); */
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* padding-left: 300px;
    padding-top: 100px; */
    bottom: 50px;

}

.input{
    width: 640px;
    height: 45px;
    border-radius: 10px;
    background-color:rgba(255, 255, 255, 0.126);
    /* background-color:#433f3fc8; */
    padding: 10px;
    font-size: x-large;
    text-align: center;
    position: relative;
    border: 2px white;
    justify-content: center;
    align-items: center;
    left : 80px;
    top : 40px;
    color: #fff;

}

.base1{
    height: 50px;
    width: 215px;
    font-size: x-large;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    /* background-color: rgba(255, 255, 255, 0.126); */
    position: relative;
    /* opacity: 30%; */
    color: #fff;
    top : 40px;
    left: 40px;
    


}

.to{
    position: relative;
    color: #fff;
    left : 380px;
    top : 35px;
    font-size: large;
    font-family:molengo;
    font-style: normal;
    border: 1px  solid #fff;
    border-radius: 50px;
    padding: 15px;
}

.base2{
    height: 50px;
    width: 215px;
    font-size: x-large;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: molengo;
    /* background: transparent; */
    position: relative;
    color: white;
    left: 506px;
    top: -4px;
    /* background-color:rgba(255, 255, 255, 0.126); */
    /* opacity: 30%; */

}

.copy{
  width: 250px;
    height: 50px;
    font-size:small;
    border-radius: 40px;
    background: transparent;
    color: #fff;
    border-color: #fff;
    position: relative;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    color: #03e9f4;
    border: 1.5px solid #03e9f4;
    border-radius: 10px;  
    text-align: center;
    top: 210px;
    left: 460px;

}.copy:hover{
  background-color: #03e9f4;
color: #050801;
box-shadow: 0px 0px 5px #03e9f4, 0px 0px 25px #03e9f4, 0px 0px 50px #03e9f4, 0px 0px 0px #03e9f4;
-webkit-box-reflect: below 1px linear-gradient(transparent, #0005); 
}


.convert{
    width: 250px;
    height: 50px;
    font-size:small;
    border-radius: 40px;
    background: transparent;
    color: #fff;
    border-color: #fff;
    position: relative;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    color: #03e9f4;
    border: 1.5px solid #03e9f4;
    border-radius: 10px;  
    text-align: center;
    top: 20px;
    left: 16px;
  
}

.convert:hover{
  background-color: #03e9f4;
  color: #050801;
  box-shadow: 0px 0px 5px #03e9f4, 0px 0px 25px #03e9f4, 0px 0px 50px #03e9f4, 0px 0px 100px #03e9f4;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005); 
}
.reset{
  position: relative;
  width: 250px;
  height: 50px;
  font-size:small;
  /* border-radius: 80px; */
  background: transparent;
  color: #fff;
  border-color: #fff;
  position: relative;
  display: inline-block;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.5s;
  color: #03e9f4;
  border: 1.5px solid #03e9f4;
  border-radius: 10px;  
  text-align: center;
  top:100px;
  /* left:20px; */
  right: 240px;
    
}
.reset:hover{
  background-color: #03e9f4;
  color: #050801;
  box-shadow: 0px 0px 5px #03e9f4, 0px 0px 25px #03e9f4, 0px 0px 50px #03e9f4, 0px 0px 100px #03e9f4;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005); 
}

.result{
    position: relative;
    width: 328px;
    height: 45px;
    border-radius: 10px;
    background-color:rgba(255, 255, 255, 0.126);
    padding: 10px;
    font-size: x-large;
    text-align: center;
    position: relative;
    border-left: 300px;
    border: 2px white;
    color: white;
    top: 160px;
    /* right: 80px; */
    left:80px;
}

/* .click{
    color:#fff;
    position: relative;
    /* bottom :100px; */


.process-box{
    position: relative;
    top:20px;
    font-size: xx-large;
    font-family: sans-serif;
    justify-content: center;
    
}
.container{
  /* position :relative;
  width :100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background:; */
  transition: 0.5s;
  /* padding: 20px; */
}
  .container .content
  {
    position: relative;
  }
  .container#blur.active{
    filter: blur(20px);

  }

  #popup{
    position: fixed;
    top :40%;
    left : 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0,0,0,.30);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
  }

  #popup.active
  {
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
  }

  .click{
    position: relative;
    width: 250px;
    height: 50px;
    font-size:large;
    border-radius: 10px;
    background: transparent;
    color: #fff;
    border-color: #fff;
    display: inline-block;
    text-decoration: none;
    /* letter-spacing: 2px; */
    transition: 0.5s;
    color: #03e9f4;
    border: 1.5px solid #03e9f4;
    /* border: 1.5px solid white; */
    text-align: center;
    top: 250px;
    right: 60px;
    padding-top: 10px;
  }
  .click:hover{
    background-color: #03e9f4;
  color: #050801;
  box-shadow: 0px 0px 5px #03e9f4, 0px 0px 25px #03e9f4, 0px 0px 50px #03e9f4, 0px 0px 100px #03e9f4;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005); 
  }


  select {
    background-color:#433f3fc8; /* Set the background color */
    /* color: #333; Set the text color */
    border: 1px solid #ccc; /* Set the border color */
    padding: 5px; /* Add padding for better appearance */
    width: 150px; /* Set the width of the dropdown */
  }


  /* .nav-bg{
    /* position:relative; */
    /* display:grid; */
    /* background-size: cover; */
    /* background-position-x: left; */
  /* } */ 